.text-rotation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  max-width: 48ch;
  font-size: 1.77778rem;
  line-height: normal;
  letter-spacing: -0.64px;
}

.text-rotation__label {
  display: inline-block;
  background-color: var(--highlight-yellow);
  color: #000;
  font-style: italic;
  font-weight: 400;
  padding: 0.27778rem;
  margin: 0;
}

.text-rotation__items {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-rotation__item {
  /* stack the items on top of each other in the same grid cell */
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
}

.text-rotation__item.hidden {
  visibility: hidden;
  opacity: 0;
}
