/* Global styles */
body {
    background-color: #FFFBF9;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

/* Header styles */
header {
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: space-between;
}

header p {
    text-transform: lowercase;
}

/* Taxonomy list styles */
.taxonomy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    text-transform: lowercase;
}

.tag {
    align-items: center;
    color: #FFF;
    display: flex;
    font-family: Arial;
    font-size: 0.77778rem;
    font-style: normal;
    font-weight: 400;
    gap: 0.55556rem;
    justify-content: center;
    letter-spacing: -0.00778rem;
    line-height: 140%;
    padding: 0.11111rem 0.27778rem 0.16667rem 0.27778rem;
    text-decoration: none;
    text-transform: lowercase;
    width: fit-content;
}

.tag.large {
    font-size: 1.22222rem;
    justify-content: center;
    letter-spacing: -0.01222rem;
    padding: 0.27778rem 0.55556rem;
}

/* Story and stories list styles */
.story img {
    max-width: 300px;
    height: auto;
}

.stories-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, calc((100% - 20px) / 3)), 1fr));
    gap: 10px;
}

/* Homepage specific styles */
.stories-list.homepage {
    visibility: hidden;
}

.stories-list.homepage.visible {
    visibility: visible;
}

/* Story page specific styles */
.story-image {
    width: 60rem;
    height: auto;
}

.story-finding {
    font-family: 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02rem;
}

.story-metadata-item {
    /* Small */
    font-family: Arial;
    font-size: 0.77778rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.00778rem;
}

.story-metadata-item-label {
    color: rgba(0, 0, 0, 0.50);
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-metadata-item-value {
    color: #000;
}

.story-metadata-item-value.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.55556rem;
}

.story-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.story-image-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.story-metadata {
    display: flex;
    flex-direction: column;
    gap: 1.11111rem;
}

.story-metadata-item {
    display: flex;
    flex-direction: column;
    gap: 0.27778rem;
} 