{{/*
    Page Head partial template. This is where you can add stylesheets or scripts that should be included in the <head> of your HTML document.
    This is a partial because it gets included in all the other templates, so we do not have to copy the same HTML everywhere.
*/}}

{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
{{end}}
