{{/*
    Gifted By Index Template
    
    Shows all stories contributed or co-created by a specific person or organization.
    This helps recognise and celebrate different contributors to the archive.
*/}}
<!DOCTYPE html>
<html lang="en-GB">

<head>
    {{template "head" .}}
    
    <title>{{.Title}} - Gifted By</title>

    {{template "grid-code" .}}
    {{template "theme-init" .}}
</head>

<body>
    {{template "header" .}}
    <div class="theme-index-header">Items gifted or co-created by: <span class="tag medium" style="background-color: {{.TaxonomyColour}};">{{.Title}}</span></div>
    <div class="stories-list standard-margins">
        {{template "stories-list" .}}
    </div>
    {{template "footer" .}}
</body>

</html>
