<head>
    <title>{{.Title}} - A story in the Dudley People's School for Climate Justice</title>
    <meta name="description" content="{{.Description}}">
    <style>
        .story-image {
            max-width: 60vw;
            height: auto;
        }

        .story-details {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .story-metadata {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .story-metadata-item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    </style>
</head>

<body>
    {{$story := .Story}}
    {{with $story.GetStoryImage}}
    {{if .URL}}
    <img class="story-image" src="{{.URL}}" alt="{{.AlternativeText}}">
    {{else}}
    <div>No image</div>
    {{end}}
    {{end}}
    <div class="story-details">
        <div>
            <h1>{{$story.Finding}}</h1>
        </div>
        <div class="story-metadata">
            {{if or $story.StartDateTime $story.EndDateTime}}
            <div class="story-metadata-item">
                <span>Date</span>
                <span>{{$story.StartDateTime}}{{if $story.EndDateTime}} - {{$story.EndDateTime}}{{end}}</span>
            </div>
            {{end}}
            {{if $story.Location}}
            <div class="story-metadata-item">
                <span>Location</span>
                <span>{{$story.Location}}</span>
            </div>
            {{end}}
            {{if $story.Season}}
            <div class="story-metadata-item">
                <span>Season</span>
                <span>{{$story.Season}}</span>
            </div>
            {{end}}
            {{if $story.Weather}}
            <div class="story-metadata-item">
                <span>Weather</span>
                <span>{{$story.Weather}}</span>
            </div>
            {{end}}
            {{if $story.StreetDetectoristClue}}
            <div class="story-metadata-item">
                <span>Street Detectorist Clue</span>
                <span>{{$story.StreetDetectoristClue}}</span>
            </div>
            {{end}}
            {{if $story.Themes}}
            <div class="story-metadata-item">
                <span>Themes</span>
                <span>{{$story.Themes}}</span>
            </div>
            {{end}}
            {{if $story.Experience}}
            <div class="story-metadata-item">
                <span>Experience</span>
                <span>{{$story.Experience}}</span>
            </div>
            {{end}}
            {{if $story.TimeSpan}}
            <div class="story-metadata-item">
                <span>Time Span</span>
                <span>{{$story.TimeSpan}}</span>
            </div>
            {{end}}
            {{if $story.OtherComments}}
            <div class="story-metadata-item">
                <span>Other Comments</span>
                <span>{{$story.OtherComments}}</span>
            </div>
            {{end}}
            {{if $story.PersonFinder}}
            <div class="story-metadata-item">
                <span>Person Finder</span>
                <span>{{$story.PersonFinder}}</span>
            </div>
            {{end}}
        </div>
    </div>
</body>