<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>{{.Title}} Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const storyImageContainers = document.querySelectorAll('.story-image-container');

            if (storyImageContainers.length === 0) {
                console.log('Could not find story containers');
            }

            storyImageContainers.forEach(container => {
                container.addEventListener('click', event => {
                    event.preventDefault();

                    // Close any open popups
                    const openStoryPopups = document.querySelectorAll('.story-popup[data-story-open="true"]');

                    if (openStoryPopups.length > 0) {
                        console.log('Closing all open story popups');
                        openStoryPopups.forEach(popup => {
                            popup.style.display = 'none';
                            popup.dataset.storyOpen = false;
                        });
                    }

                    console.log(`Opening popup for story ${container.dataset.storyId}`);
                    const storyPopup = document.querySelector(`[data-story-popup-id="${container.dataset.storyId}"]`)

                    if (!storyPopup) {
                        console.log(`Could not find story popup for story ${container.dataset.storyId}`);
                    }

                    storyPopup.style.display = 'block';
                    storyPopup.dataset.storyOpen = true;
                });
            });
        });
    </script>
    <style>
        .story-popup {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            height: 200px;
        }

        .story-popup-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            padding: 10px;
        }
    </style>
</head>

<body>
    {{template "header" .}}
    <h1 class="theme-index-header"><span class="tag large" style="background-color: {{.TaxonomyColour}};">{{.Title}}</span>A theme in the Dudley People's School for Climate Justice</h1>
    <p class="theme-index-description">{{.Description}}</p>
    <div class="stories-list">
        {{range .Stories}}
        <div class="story">
            {{$story := .}}
            {{ with .GetStoryImage }}
            {{ if .URL }}
            <a class="story-image-container" href="..{{$story.URL}}" data-story-id="{{$story.ID}}">
                <img 
                    src="..{{.ThumbURL}}" 
                    srcset="
                        ..{{.ThumbURL}} 300w,
                        ..{{.MediumURL}} 800w
                    "
                    sizes="(max-width: 600px) 300px, 800px"
                    alt="{{.AlternativeText}}">
            </a>
            <div class="story-popup" data-story-popup-id="{{$story.ID}}">
                <img src="..{{.MediumURL}}" alt="">
                <div class="story-popup-text">{{$story.Finding}}</div>
            </div>
            {{ else }}
            <div>No image</div>
            {{ end }}
            {{ end }}
        </div>
        {{end}}
    </div>
    {{template "footer" .}}
</body>
</html>