<head>
    <title>{{.Title}} Type</title>
    <style>
        .story img {
            max-width: 300px;
            height: auto;
        }

        .stories-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, calc((100% - 20px) / 3)), 1fr));
            gap: 10px;
        }
    </style>
</head>

<body>
    <h1>{{.Title}} - A theme in the Dudley People's School for Climate Justice</h1>
    <p>{{.Description}}</p>
    <div class="stories-list">
        {{range .Stories}}
        <div class="story">
            {{ with .GetStoryImage }}
            {{ if .URL }}
            <img src="{{.URL}}" alt="{{.AlternativeText}}">
            {{ else }}
            <div>No image</div>
            {{ end }}
            {{ end }}
        </div>
        {{end}}
    </div>
</body>