{{/*
    Type Index Template
    
    Shows all stories of a specific type (like "Photo", "Poem", "Video", "Drawing").
    Very similar to theme-index.html but filters by story format instead of theme.
*/}}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>{{.Title}} Type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    {{template "grid-code" .}}
</head>

<body>
    {{template "header" .}}
    <div class="theme-index-header">Items tagged: <span class="tag medium" style="background-color: {{.TaxonomyColour}};">{{.Title}}</span></div>
    <div class="stories-list standard-margins">
        {{template "stories-list" .}}
    </div>
    {{template "footer" .}}
</body>
</html>