<head>
    <title>{{.Title}} Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    {{template "header" .}}
    <h1 class="weather-index-header"><span class="tag large" style="background-color: {{.TaxonomyColour}};">{{.Title}}</span>A weather in the Dudley People's School for Climate Justice</h1>
    <p class="type-index-description">{{.Description}}</p>
    <div class="stories-list">
        {{range .Stories}}
        <div class="story">
            {{$story := .}}
            {{ with .GetStoryImage }}
            {{ if .URL }}
            <a href="..{{$story.URL}}">
                <img 
                    src="..{{.ThumbURL}}" 
                    srcset="
                        ..{{.ThumbURL}} 300w,
                        ..{{.MediumURL}} 800w
                    "
                    sizes="(max-width: 600px) 300px, 800px"
                    alt="{{.AlternativeText}}">
            </a>
            {{ else }}
            <div>No image</div>
            {{ end }}
            {{ end }}
        </div>
        {{end}}
    </div>
    {{template "footer" .}}
</body>