{{/*
    Weather Index Template
    
    Shows all stories that happened in a specific weather condition (like "Sunny",
    "Rainy", "Cloudy"). Adds an atmospheric dimension to browsing the archive.
*/}}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    {{ template "head" .}}

    <title>{{.Title}} Weather</title>

    {{template "grid-code" .}}
    {{template "theme-init" .}}
</head>

<body>
    {{template "header" .}}
    <div class="theme-index-header">Items tagged: <span class="tag medium" style="background-color: {{.TaxonomyColour}};">{{.Title}}</span></div>
    <div class="stories-list standard-margins">
        {{template "stories-list" .}}
    </div>
    {{template "footer" .}}
</body>
</html>